/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --base-color: #000028;
  --text-secondary-color: #000028;
  --secondary-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
}

.theme-dark .page {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --base-color: #000028;
  --text-secondary-color: #000028;
  --secondary-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
}
