/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light, .theme-light .page {
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --base-color: #fff1f7;
  --secondary-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --text-secondary-color: #353430;
  --button-transparen-coolor: rgba(53, 52, 48, 0.4);
}

.theme-light .decoration-rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page {
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --base-color: #fff1f7;
    --secondary-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --text-secondary-color: #353430;
    --button-transparen-coolor: rgba(53, 52, 48, 0.4);
  }

  .decoration-rec {
    display: none;
  }
}
