/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Header styles */

.hero__size {
  min-block-size: clamp(668px, 100vh, 1024px);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: var(--main-padding);
}

/* Header menu */

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 13.5px;
}

.header__theme-menu-button {
  padding: 1.8px 13px;
  border: none;
  background-color: transparent;
  font-family: var(--main-font), monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  color: var(--secondary-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--secondary-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-transparen-coolor);
}

.header__theme-menu-button:focus {
  outline: none;
  border-block-end: 1px solid var(--secondary-color);
}

/* Header title */

.header-title {
  font-family: var(--main-font), monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 116px;
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* Header paragraph */

.header-text-wrapper {
  justify-self: end;
  max-inline-size: 364px;
}

.header-text {
  hyphens: none;
}

.text-decoration__accent {
  background-color: var(--accent-color);
  color: var(--text-secondary-color);
  font-family: var(--main-font), monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.2px;
}

/* Header decoration */

.decoration-rec {
  position: absolute;
  inset-inline-end: 18px;
  inset-block-start: 10.5px;
}

.decoration-rec::before {
  content: "rec";
  text-transform: uppercase;
  block-size: 10px;
  inline-size: 10px;
  color: var(--accent-color);
  font-family: var(--main-font), monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  vertical-align: middle;
}

.decoration-rec::after {
  content: "";
  display: inline-block;
  inline-size: 10px;
  block-size: 10px;
  border-radius: 50%;
  vertical-align: middle;
  margin-inline-start: 10px;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--secondary-color);
  border-block-start: 1px solid var(--secondary-color);
  inset-inline-end: var(--main-padding);
  inset-block-start: var(--main-padding);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--secondary-color);
  border-block-end: 1px solid var(--secondary-color);
  inset-inline-start: var(--main-padding);
  inset-block-end: var(--main-padding);
}

/* Main */

.main {
  padding-block: clamp(40px, calc(40px + (20 * ((100vw - 375px) / 393))), 60px);
  padding-inline: var(--main-padding);
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  gap: 50px;
}

/* Articles section */

.section__text {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  gap: 20px;
}

.section-title {
  font-family: var(--main-font), monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--secondary-color);
}

.section__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__article-text {
  font-family: var(--main-font), monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.43px;
  color: var(--text-color);
}

.section__article-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__article-link:hover {
  text-decoration: underline;
}

.section__article-link:focus {
  outline: 1px solid var(--text-color);
}

.section__article-subtitle {
  margin-block-end: 10px;
}

.section__how-article .section__article-title {
  font-weight: 400;
}

/* Section gallery */

.section__gallery {
  display: flex;
  flex-direction: column;
  gap: var(--main-padding);
}

.section__gallery-wrapper {
  display: grid;
  gap: var(--main-padding);
}

.section__gallery-image {
  inline-size: 100%;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__titlle {
  text-align: center;
  font-family: var(--main-font), monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 116px;
  line-height: 82.5%;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}
